/DataTypes.class
/Direction.class
/EnumTest.class
/FineDirection.class
/GradeFromPoints.class
/Hello.class
/ListTest.class
/Pair.class
/PairTest.class
/PrimitivesAndClasses.class
/SetTest.class
/VowelCounter.class
/WesterosTest.class
/test.class
/Lambda1.class
/Lambda1$Comparison.class
/FileTurner.class
